<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }} - SPIRITUM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
  </head>
  <body class="spiritum-body">
    {% section 'header' %}
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
